img {
    max-width: 100%;
}
.movie-item img{
    height: 250px;
    object-fit: cover;

}
.rating-container{
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
}

.star {
    display: inline-block;
}

.star:hover,
.star.active {
    color: gold;
}

/*.rating-avatar img{*/
/*    height: 50px;*/
/*    width: 50px;*/
/*    object-fit: cover;*/
/*    border-radius: 50%;*/
/*}*/